{% extends 'base.html.twig' %}

{% block body %}
    <!-- main slider -->
    <section class="slider-full">
        <div id="rev_slider_wrapper" class="rev_slider_wrapper fullscreenbanner" data-alias="highlight-carousel16" style="margin:0px auto;background-color:#000000;padding:0px;margin-top:0px;margin-bottom:0px;">
          <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
              <div id="rev_slider_text" class="rev_slider fullwidthabanner"  data-version="5.0.7">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-682" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb="{{ asset('img/uploads/Johannes_Vermeer_-_Woman_Holding_a_Balance_-_Google_Art_Project.jpg') }}" data-rotate="0" data-saveperformance="off" data-title="Expression" data-description="">

                            <!-- MAIN IMAGE -->
                            <img src="{{ asset('img/uploads/Johannes_Vermeer_-_Woman_Holding_a_Balance_-_Google_Art_Project.jpg') }}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>


                            <!-- LAYER NR. 0 -->
                            <div class="tp-caption slide-title invert"
                               id="slide-1497-layer-1"
                               data-x="center" data-hoffset=""
                               data-y="center" data-voffset="-150"
                               data-fontsize="['40','40','25','25']"
                               data-lineheight="['40','40','25','20']"
                               data-width="['96']"
                               data-height="['94']"
                               data-transform_idle="o:1;"
                               data-transform_in="z:0;rX:90deg;rY:0deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
                               data-transform_out="auto:auto;s:700;"
                               data-start="2100"
                               data-splitin="none"
                               data-splitout="none"
                               data-responsive_offset="on">
                               <img src="{{ asset('theme/images/demo/slider-text-animation/slider-logo.png') }}" alt=""></div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption slide-title invert tp-resizeme"
                               id="slide-1497-layer-2"
                               data-x="center" data-hoffset=""
                               data-y="center" data-voffset="-50"
                               data-fontsize="['40','40','25','25']"
                               data-lineheight="['40','40','25','30']"
                               data-width="['auto']"
                               data-height="['auto']"
                               data-transform_idle="o:1;"
                               data-whitespace="['nowrap', 'normal', 'normal', 'normal']"
                               data-transform_in="z:0;rX:90deg;rY:0deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
                               data-transform_out="auto:auto;s:700;"
                               data-start="2100"
                               data-splitin="none"
                               data-splitout="none"
                               data-responsive_offset="on">
                               PHOTOGRAPHER PORTFOLIO</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption slide-subtitle invert tp-resizeme"
                               id="slide-1497-layer-3"
                               data-x="center" data-hoffset=""
                               data-y="center" data-voffset="[10, 30, 40, 70]"
                               data-fontsize="['15','15','20','20']"
                               data-lineheight="['24','24','20','20']"
                               data-width="['600, 200, 200, 200']"
                               data-height="['auto']"
                               data-transform_idle="o:0.7;"
                               data-transform_in="z:0;rX:-90deg;rY:0deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
                               data-transform_out="auto:auto;s:700;"
                               data-start="2250"
                               data-splitin="none"
                               data-splitout="none"
                               data-responsive_offset="on"
                               style="white-space: normal;">
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption rb-btn"
                               id="slide-1497-layer-4"
                               data-x="center" data-hoffset=""
                               data-y="center" data-voffset="[90, 120, 120, 220]"
                               data-width="['none','none','none','none']"
                               data-height="['none','none','none','none']"
                               data-transform_idle="o:1;"
                               data-transform_in="z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
                               data-transform_out="auto:auto;s:700;"
                               data-start="2350"
                               data-responsive_offset="on">
                               <a href="#" class="btn invert">view more</a>
                               </div>
                        </li>

                        <!-- SLIDE  -->
                        <li data-index="rs-683" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="1000" data-thumb="{{ asset('img/uploads/Carel_Fabritius_-_Self-Portrait_-_Google_Art_Project.jpg') }}" data-rotate="0" data-saveperformance="off" data-title="Expression" data-description="">

                            <!-- MAIN IMAGE -->
                            <img src="{{ asset('img/uploads/Carel_Fabritius_-_Self-Portrait_-_Google_Art_Project.jpg') }}" alt="" data-bgposition="center center" data-kenburns="on" data-duration="20000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500" data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption slide-pre-title invert tp-resizeme"
                                id="slide-1498-layer-1"
                                data-x="center"
                                data-y="middle"
                                data-voffset="['-30','-30','-30','-50']"
                                data-fontsize="['60','60','60','40']"
                                data-width="none"
                                data-height="none"
                                data-whitespace="nowrap"
                                data-transform_idle="o:1;"
                                data-transform_in="y:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                                data-transform_out="auto:auto;s:700;"
                                data-start="1000"
                                data-splitin="none"
                                data-splitout="none"
                                data-responsive_offset="on">
                                WE ARE SHOOT</div>

                            <!-- LAYER NR. 2 -->
                            <div class="tp-caption  slide-title2 invert tp-resizeme"
                               id="slider-1498-layer-2"
                               data-x="center" data-hoffset=""
                               data-y="center"
                               data-voffset="['40','40','50','20']"
                               data-fontsize="['45','45','35','35']"
                               data-lineheight="['45','45','35','30']"
                               data-width="['auto','auto','400', '320']"
                               data-height="none"
                               data-whitespace="['nowrap', 'nowrap', 'normal', 'normal']"
                               data-transform_idle="o:1;"
                               data-transform_in="z:0;rX:-90deg;rY:0deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
                               data-transform_out="auto:auto;s:700;"
                               data-start="1000"
                               data-responsive_offset="on"
                               data-startslide="0"
                               data-endslide="1"
                               style="z-index: 5;text-transform:left;">
                               A CREATIVE PHOTO AGENCY</div>

                            <!-- LAYER NR. 3 -->
                            <div class="tp-caption slide-subtitle2 invert tp-resizeme"
                               id="slide-1498-layer-3"
                               data-x="center" data-hoffset=""
                               data-y="center"
                               data-voffset="['90','90','120','100']"
                               data-fontsize="['15','15','20','20']"
                               data-lineheight="['24','24','20','20']"
                               data-width="['600','600','400', '420']"
                               data-height="['auto']"
                               data-whitespace="['nowrap', 'normal', 'normal', 'normal']"
                               data-transform_idle="o:0.7;"
                               data-transform_in="z:0;rX:-90deg;rY:0deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
                               data-transform_out="auto:auto;s:700;"
                               data-start="1000"
                               data-splitin="none"
                               data-splitout="none"
                               data-responsive_offset="on">
                               photography studio & creative showcase</div>

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption rb-btn"
                               id="slide-1498-layer-4"
                               data-x="center" data-hoffset=""
                               data-y="center" data-voffset="['150','150','180','180']"
                               data-width="['none','none','none','none']"
                               data-height="['none','none','none','none']"
                               data-transform_idle="o:1;"
                               data-transform_in="z:0;rX:0;rY:360deg;rZ:0;sX:0.5;sY:0.5;skX:0;skY:0;opacity:0;s:1500;e:Back.easeOut;"
                               data-transform_out="auto:auto;s:700;"
                               data-start="1000"
                               data-responsive_offset="on">
                               <a href="#" class="btn invert">view more</a>
                               </div>
                        </li>
                    </ul>
                  <div class="tp-bannertimer tp-top" style="height: 7px; background-color: rgba(255, 255, 255, 0.25);"></div>
              </div>
          </div><!-- END REVOLUTION SLIDER -->
    </section>

{% endblock %}
